@font-face {
  font-family: "iconfont"; /* Project id 5065483 */
  src: url('iconfont.woff2?t=1763101555511') format('woff2'),
       url('iconfont.woff?t=1763101555511') format('woff'),
       url('iconfont.ttf?t=1763101555511') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-69_F03A__list:before {
  content: "\e624";
}

