@use '../utils/mixins' as *; // 混合宏
@use '../utils/utils' as *; // 工具类


@mixin wrapper{
    .chat-box{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}