@use '../utils/mixins' as *; // 混合宏
@use '../utils/utils' as *; // 工具类


@mixin wrapper{
    .content-wrapper{
        .center-panel{
            .chat-header{
                .header-actions {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                }
            }
        }
    }
}