@use '../utils/mixins' as *; // 混合宏
@use '../utils/utils' as *; // 工具类
@use './generator-base' as gbase;
@use './generator-history' as ghistory;
@use './generator-generatep' as ggeneratep;
@use './generator-chatbox' as gchatbox;

.generator {
  padding-top: rpx(20);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;


  @include gbase.wrapper;
  @include gchatbox.wrapper;
//   @include gheader-action.wrapper;
  
}
@include ghistory.wrapper;
@include ggeneratep.wrapper;