@use '../utils/utils' as *; // 工具类
@use './home-welcome' as welcome;
@use './home-trip' as trip;
@use './home-blog' as blog;

.home {
  padding-top: rpx(20);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  text-align: center;
  
  @include welcome.wrapper; //welcome section

  .main {
    padding: rpx(5);
    display: flex;
    flex-direction: column;
    align-items: center;

    
    @include trip.wrapper;
    @include blog.wrapper;

    
  }
  @include blog.detail;
  @include blog.popup;

}