@use '../utils/utils' as *; // 工具类
@use './home-welcome' as welcome;
@use './home-trip' as trip;
.home {
  padding-top: rpx(20);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  
  @include welcome.wrapper; //welcome section


  .main {
    padding: rpx(5);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    @include trip.wrapper;

  }
}