@import './mixins';
@import './variables';

/* 添加 iPoloGO 介绍部分样式 */
.home{
  .ipologo-intro {
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 900px;
    text-align: justify; /* 使文本左对齐 */
  
      p {
        font-size: 1.8rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #ddd;
        line-height: 1.6;
      }
  
      h1 {
        font-size: 6rem;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0 auto;
      }
  }
}