@use './variables' as var;

@mixin purity {
  margin-block-start: 0;
  margin-block-end: 0;
  list-style: none;
  padding-inline-start: 0;
}

@mixin keyframes($animationName) {
  // 动画
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin screen-pc {
  // pc尺寸宽屏
  @media screen and (min-width: var.$width-pc) {
    @content;
  }
}
@mixin screen-pad {
  // 平板尺寸
  @media screen and (min-width: var.$width-pad) and (max-width: var.$width-pc) {
    @content;
  }
}
@mixin screen-mobile {
  // 手机尺寸
  @media screen and (max-width: var.$width-pad) {
    @content;
  }
}

@mixin text-ellipsis($line) {
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
  -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
  -webkit-line-clamp: #{$line}; /** 显示的行数 **/
  overflow: hidden; /** 隐藏超出的内容 **/
}

@mixin wordWrap() {
  word-break: keep-all; //保证单词内部不被拆开换行（尤其对英文）
  overflow-wrap: break-word; //如果一整段太长，允许按单词边界换行
  white-space: normal; //保持默认的空格换行行为
}
