// 常用变量

$font-family-default: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$font-family-code:
  SFMono-Regular,
  Menlo,
  Monaco,
  Consolas,
  Liberation Mono,
  Courier New,
  monospace;
$font-family-mono: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
  monospace;

$font-color-default: #0a1625; // 默认颜色

$width-pc: 1000px; // 电脑尺寸范围
$width-pad: 768px; // 平板尺寸范围,实际上小于pad就是mobile，并没有用mobile参数
$width-mobile: 480px; // 手机尺寸范围

$page-size-pc: 16; // 电脑默认文字尺寸
$page-font-size-pc: 16px; // 电脑默认文字尺寸
$page-width-pad: 900; // 平板基准尺寸
$page-width-mobile: 750; // 手机基准尺寸
